

<div id="wrapper">
      <h1>News Scraper</h1>
      <h2><i>All the news. That you can scrape.</i></h2>
          {{#each article}}
            <p> Title: {{title}}</p>
            <p> Summary: {{summmary}}</p>
            <p> Link: {{link}}</p>
          {{/each}}
      <div id="comment"> </div>
    </div>