

<div id="wrapper">
      <h1>News Scraper</h1>
      <h2><i>All the news. That you can scrape.</i></h2>
      <div id="articles"> 
          {{#each article}}
            <p>{{title}}</p>
            <p>{{summmary}}</p>
            <p>{{link}}</p>
          {{/each}}</div>
      <div id="comment"> </div>
    </div>